<div class="row">
    <div class="col">
        <h2>Menu builder</h2>
        <% if flash[:errors] %>
            <ul>
            <% flash[:errors].each do |e| %>
                <li class="alert alert-danger"><%= e %></li>
            <% end %>
            </ul>
        <% end %>
        <% if flash[:notices] %>
            <ul>
            <% flash[:notices].each do |n| %>
                <li class="alert alert-success"><%= n %></li>
            <% end %>
            </ul>
        <% end %>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <%=%>
        <%=%>
        <%=%>
        <%=%>
    </div>
</div>
<div class="row">
    <div class="col" id="response">
    </div>
</div>
<div class="row">
    <div class="col">
        <div class="form-group">
            <input class="btn btn-primary" type="button" value="Add" onclick="addInput()">
        </div>
    </div>
</div>
<script>
    var countBox =1;
    var boxName = 0;
    function addInput()
    {
        var boxName="name"+countBox;
        document.getElementById('response').innerHTML+=`<div class='row'><div class='col col-sm-6'><div class='form-group'><label for='dish[${boxName}]'>Dish name</label><input class='form-control' type='text' name='dish[${boxName}]' id='${boxName}' /></div></div><div class='col col-sm-4'><div class='form-group'><label for='dishtype[${boxName}]'>Menu</label><select class='form-control' name='dishtype[${boxName}]' id='dishtype[${boxName}]'><% current_user.restaurants.order(:name).each do |r|%><% r.menus.each do |m|%><% m.dishtypes.each do |dt|%><option value='<%= dt.id %>'><%= dt.name %></option><% end %><% end %><% end %></select></div></div><div class='col col-sm-2'><div class='form-group'><label for='dish[${boxName}]'>Price</label><input class='form-control' type='text' name='dish[${boxName}]' id='${boxName}' /></div></div></div>`;
    }

    function reloadRestaurant(){
    var container = document.getElementById("response");
    var content = container.innerHTML;
    container.innerHTML = content; 
    
   //this line is to watch the result in console , you can remove it later	
    console.log("Refreshed"); 
}
</script>

<script id="codebackup">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <div class="form-group">
        <label for="dishtype[name]">Name</label>
        <input class="form-control" type="text" name="dishtype[name]" id="dishtype[name]">
    </div>
    <div class="form-group">
        <label for="dishtype[menu]">Menu</label>
        <select class="form-control"  name="dishtype[menu]" id="dishtype[menu]">
            <% current_user.restaurants.order(:name).each do |r|%>
                <% r.menus.each do |m|%>
                    <option value="<%= m.id %>"><%= m.name %></option>
                <% end %>
            <% end %>
        </select>
    </div>
    <div class='col col-sm-2'>
        <div class='form-group'>
            <label for='dish[${boxName}]'>Price</label>
            <input class='form-control' type='text' name='dish[${boxName}]' id='${boxName}' />
        </div>
    </div>
    
</script>