<div class="row">
    <div class="col">
        <h2>Dish types</h2>
        <% if flash[:errors] %>
            <ul>
            <% flash[:errors].each do |e| %>
                <li class="alert alert-danger"><%= e %></li>
            <% end %>
            </ul>
        <% end %>
        <% if flash[:notices] %>
            <ul>
            <% flash[:notices].each do |n| %>
                <li class="alert alert-success"><%= n %></li>
            <% end %>
            </ul>
        <% end %>
        <hr>
    </div>
</div>
<div class="row">
    <div class="col">
        <form action="/dishtypes/create" method="POST">
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <div class="form-group">
                <label for="dishtype[name]">Name</label>
                <input class="form-control" type="text" name="dishtype[name]" id="dishtype[name]">
            </div>
            <div class="form-group">
                <label for="dishtype[menu]">Menu</label>
                <select class="form-control"  name="dishtype[menu]" id="dishtype[menu]">
                    <% current_user.restaurants.order(:name).each do |r|%>
                        <% r.menus.each do |m|%>
                            <option value="<%= m.id %>"><%= r.name %> - <%= m.name %></option>
                        <% end %>
                    <% end %>
                </select>
            </div>
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </form>
    </div>
</div>
<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Dish</th>
                    <th scope="col">Restaurant</th>
                    <th scope="col">Menu</th>
                    <th scope="col" class="w-25">Actions</th>
                </tr>
            </thead>
            <tbody>
                 <% current_user.restaurants.order(:name).each do |r|%>
                    <% r.menus.order(:name).each do |m|%>
                        <% m.dishtypes.order(:name).each do |d|%>
                            <tr>
                                <td><%= d.name %></td>
                                <td><%= d.menu.restaurant.name %></td>
                                <td><%= m.name %></td>
                                <td>
                                    <form action="/dishtypes/<%= r.id %>" method="POST">
                                        <input type="hidden" name="_method" value="DELETE">
                                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                        <a class="btn btn-outline-primary" href="/dishtypes/edit/<%= r.id %>">Edit</a>
                                        <input class="btn btn-outline-danger" type="submit" value="Delete">
                                    </form>
                                </td>
                            </tr>
                        <%end%>
                    <%end%>
                <%end%>
            </tbody>
        </table>
    </div>
</div>