<div class="row">
    <div class="col">
        <table class="table table-striped">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Secret</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                <% @secrets.each do |secret| %>
                    <tr>
                        <td>
                            <p><%= secret.content %></p>
                            <p>
                                <%= secret.likes.count %>
                                <% if (secret.user != current_user) %>
                                    <form action="/likes/create/<%= secret.id %>" method="post">
                                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                        <%= image_submit_tag("like.png", class: "likes") %>
                                    </form>
                                <%else%>
                                    <%= image_tag("like.png", class: "unlikes") %>
                                <%end%>
                            </p>
                        </td>
                        <td>
                            <% if secret.user == current_user%>
                            <form action="/secrets/destroy/<%= secret.id %>" method="POST">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                            <% end %>
                        </td>
                    </tr>
                <% end %>
            </tbody>
        </table>
    </div>
</div>