<div class="wrapper">
    <div class="jumbotron jumbotron-fluid">
        <div class="container nopadding">
            <div class="text-left w-75 nospace">
                <h1 class="display-4">Ninja Gold: <%= session['gold'] %> found so far.</h1>
                <p class="lead">Gold is hard to come by. Work hard for it or go about finding it using your shady ways!</p>
                <textarea class=" w-75"><%= session['all_messages'] %></textarea>
            </div>

            <div class="text-right w-auto nospace">
                <form action="/rpgs/reset" method="post">
                    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                    <input type="hidden" name="source" value="house">
                    <input type="submit" value="Restart game" class="btn btn-danger">
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="card w-25">
                <div class="card-header text-white bg-dark">House</div>
                <%= image_tag 'card-house.png', :class => "card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title">Earns 2-5 gold</h5>
                    <p class="card-text">Find money in your pants' pockets or in between the couch cushions.</p>
                </div>
                <div class="text-center">
                    <form action="/rpgs/process_gold" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="source" value="house">
                        <input type="submit" value="Find gold! (POST - form)" class="btn btn-warning">
                    </form>
                </div>
            </div>
            <div class="card w-25">
                <div class="card-header text-white bg-dark">Farm</div>
                <%= image_tag 'card-farm.png', :class => "card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title">Earns 10-20 gold</h5>
                    <p class="card-text">Hard work always pays off in a place like this.</p>
                </div>
                <div class="text-center">
                    <form action="/rpgs/process_gold" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="source" value="farm">
                        <input type="submit" value="Find gold! (POST - form)" class="btn btn-warning">
                    </form>
                </div>
            </div>
            <div class="card w-25">
                <div class="card-header text-white bg-dark">Cave</div>
                <%= image_tag 'card-cave.png', :class => "card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title">Earns 5-10 gold</h5>
                    <p class="card-text">Embark on the quest of a lifetime... full of riches.</p>
                </div>
                <div class="text-center">
                    <form action="/rpgs/process_gold" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="source" value="cave">
                        <input type="submit" value="Find gold! (POST - form)" class="btn btn-warning">
                    </form>
                </div>
            </div>
            <div class="card w-25">
                <div class="card-header text-white bg-dark">Casino</div>
                <%= image_tag 'card-casino.png', :class => "card-img-top" %>
                <div class="card-body">
                    <h5 class="card-title">Earns or takes 0-50 gold</h5>
                    <p class="card-text">Win big or go home... maybe you'll find a quarter in the couch.</p>
                </div>
                <div class="text-center">
                    <form action="/rpgs/process_gold" method="POST">
                        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                        <input type="hidden" name="source" value="casino">
                        <input type="submit" value="Find gold! (POST - form)" class="btn btn-warning">
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>