<div class="row">
    <div class="col">
        <h3>User profile: <%= @user.fname %> <%= @user.lname %></h3>
            <% if flash[:errors]%>
                <ul>
                <% flash[:errors].each do |error|%>
                    <li class="alert alert-danger"><%= error %></li>
                <%end%>
                </ul>
            <%end%>
            <% if flash[:notice]%>
                <ul>
                <% flash[:notice].each do |notice|%>
                    <li class="alert alert-success"><%= notice %></li>
                <%end%>
                </ul>
            <%end%>
            <form action="/users/update/<%= @user.id %>" method="POST">
                <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
                <input type="hidden" name="_method" value="PATCH">
                <div class="form-group">
                    <label for="user[fname]">First name</label>
                    <input class="form-control" type="text" name="user[fname]" id="user[fname]" value="<%= @user.fname %>">
                </div>
                <div class="form-group">
                    <label for="user[lname]">Last name</label>
                    <input class="form-control" type="text" name="user[lname]" id="user[lname]" value="<%= @user.lname %>">
                </div>
                <div class="form-group">
                    <label for="user[email]">Email</label>
                    <input class="form-control" type="text" name="user[email]" id="user[email]" value="<%= @user.email %>">
                </div>
                <div class="row">
                    <div class="col col-sm-8">
                        <div class="form-group">
                            <label for="user[city]">City</label>
                            <input class="form-control" type="text" name="user[city]" id="user[city]" value="<%= @user.city %>">
                        </div>
                    </div>
                    <div class="col col-sm-4">
                        <label for="user[state]">City</label>
                        <select class="form-control" name="user[state]" id="user[state]">
                            <option value='AL' <%= ('AL' == @user.state)? 'selected':'' %>>Alabama</option>
                            <option value='AK' <%= ('AK' == @user.state)? 'selected':'' %>>Alaska</option>
                            <option value='AZ' <%= ('AZ' == @user.state)? 'selected':'' %>>Arizona</option>
                            <option value='AR' <%= ('AR' == @user.state)? 'selected':'' %>>Arkansas</option>
                            <option value='CA' <%= ('CA' == @user.state)? 'selected':'' %>>California</option>
                            <option value='CO' <%= ('CO' == @user.state)? 'selected':'' %>>Colorado</option>
                            <option value='CT' <%= ('CT' == @user.state)? 'selected':'' %>>Connecticut</option>
                            <option value='DE' <%= ('DE' == @user.state)? 'selected':'' %>>Delaware</option>
                            <option value='FL' <%= ('FL' == @user.state)? 'selected':'' %>>Florida</option>
                            <option value='GA' <%= ('GA' == @user.state)? 'selected':'' %>>Georgia</option>
                            <option value='HI' <%= ('HI' == @user.state)? 'selected':'' %>>Hawaii</option>
                            <option value='ID' <%= ('ID' == @user.state)? 'selected':'' %>>Idaho</option>
                            <option value='IL' <%= ('IL' == @user.state)? 'selected':'' %>>Illinois</option>
                            <option value='IN' <%= ('IN' == @user.state)? 'selected':'' %>>Indiana</option>
                            <option value='IA' <%= ('IA' == @user.state)? 'selected':'' %>>Iowa</option>
                            <option value='KS' <%= ('KS' == @user.state)? 'selected':'' %>>Kansas</option>
                            <option value='KY' <%= ('KY' == @user.state)? 'selected':'' %>>Kentucky</option>
                            <option value='LA' <%= ('LA' == @user.state)? 'selected':'' %>>Louisiana</option>
                            <option value='ME' <%= ('ME' == @user.state)? 'selected':'' %>>Maine</option>
                            <option value='MD' <%= ('MD' == @user.state)? 'selected':'' %>>Maryland</option>
                            <option value='MA' <%= ('MA' == @user.state)? 'selected':'' %>>Massachusetts</option>
                            <option value='MI' <%= ('MI' == @user.state)? 'selected':'' %>>Michigan</option>
                            <option value='MN' <%= ('MN' == @user.state)? 'selected':'' %>>Minnesota</option>
                            <option value='MS' <%= ('MS' == @user.state)? 'selected':'' %>>Mississippi</option>
                            <option value='MO' <%= ('MO' == @user.state)? 'selected':'' %>>Missouri</option>
                            <option value='MT' <%= ('MT' == @user.state)? 'selected':'' %>>Montana</option>
                            <option value='NE' <%= ('NE' == @user.state)? 'selected':'' %>>Nebraska</option>
                            <option value='NV' <%= ('NV' == @user.state)? 'selected':'' %>>Nevada</option>
                            <option value='NH' <%= ('NH' == @user.state)? 'selected':'' %>>New Hampshire</option>
                            <option value='NJ' <%= ('NJ' == @user.state)? 'selected':'' %>>New Jersey</option>
                            <option value='NM' <%= ('NM' == @user.state)? 'selected':'' %>>New Mexico</option>
                            <option value='NY' <%= ('NY' == @user.state)? 'selected':'' %>>New York</option>
                            <option value='NC' <%= ('NC' == @user.state)? 'selected':'' %>>North Carolina</option>
                            <option value='ND' <%= ('ND' == @user.state)? 'selected':'' %>>North Dakota</option>
                            <option value='OH' <%= ('OH' == @user.state)? 'selected':'' %>>Ohio</option>
                            <option value='OK' <%= ('OK' == @user.state)? 'selected':'' %>>Oklahoma</option>
                            <option value='OR' <%= ('OR' == @user.state)? 'selected':'' %>>Oregon</option>
                            <option value='PA' <%= ('PA' == @user.state)? 'selected':'' %>>Pennsylvania</option>
                            <option value='RI' <%= ('RI' == @user.state)? 'selected':'' %>>Rhode Island</option>
                            <option value='SC' <%= ('SC' == @user.state)? 'selected':'' %>>South Carolina</option>
                            <option value='SD' <%= ('SD' == @user.state)? 'selected':'' %>>South Dakota</option>
                            <option value='TN' <%= ('TN' == @user.state)? 'selected':'' %>>Tennessee</option>
                            <option value='TX' <%= ('TX' == @user.state)? 'selected':'' %>>Texas</option>
                            <option value='UT' <%= ('UT' == @user.state)? 'selected':'' %>>Utah</option>
                            <option value='VT' <%= ('VT' == @user.state)? 'selected':'' %>>Vermont</option>
                            <option value='VA' <%= ('VA' == @user.state)? 'selected':'' %>>Virginia</option>
                            <option value='WA' <%= ('WA' == @user.state)? 'selected':'' %>>Washington</option>
                            <option value='WV' <%= ('WV' == @user.state)? 'selected':'' %>>West Virginia</option>
                            <option value='WI' <%= ('WI' == @user.state)? 'selected':'' %>>Wisconsin</option>
                            <option value='WY' <%= ('WY' == @user.state)? 'selected':'' %>>Wyoming</option>
                            <option value='AS' <%= ('AS' == @user.state)? 'selected':'' %>>American Samoa</option>
                            <option value='DC' <%= ('DC' == @user.state)? 'selected':'' %>>District of Columbia</option>
                            <option value='FM' <%= ('FM' == @user.state)? 'selected':'' %>>Federated States of Micronesia</option>
                            <option value='GU' <%= ('GU' == @user.state)? 'selected':'' %>>Guam</option>
                            <option value='MH' <%= ('MH' == @user.state)? 'selected':'' %>>Marshall Islands</option>
                            <option value='MP' <%= ('MP' == @user.state)? 'selected':'' %>>Northern Mariana Islands</option>
                            <option value='PW' <%= ('PW' == @user.state)? 'selected':'' %>>Palau</option>
                            <option value='PR' <%= ('PR' == @user.state)? 'selected':'' %>>Puerto Rico</option>
                            <option value='VI' <%= ('VI' == @user.state)? 'selected':'' %>>Virgin Islands</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <label for="user[password]">Password</label>
                    <input class="form-control" type="password" name="user[password]" id="user[password]">
                </div>
                <div class="form-group">
                    <label for="user[password_confirmation]">Password confirmation</label>
                    <input class="form-control" type="password" name="user[password_confirmation]" id="user[password_confirmation]">
                </div>
                <div class="form-group">
                    <input class="btn btn-primary" type="submit" value="Update">
                </div>
            </form>
        </div>
    </div>
</div>